@font-face {
  font-family: 'Century Gothic Regular';
  src: url('Century Gothic Regular.eot');
  src: url('Century Gothic Regular.woff2') format('woff2'),
       url('Century Gothic Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('CenturyGothic.woff') format('woff'),
       url('CenturyGothic.ttf') format('truetype'),
       url('CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

