@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato|Montserrat:700');
@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}
@font-face {
  font-family: 'Century Gothic Bold';
  src: url('fonts/Century Gothic Bold.eot');
  src: url('fonts/Century Gothic Bold.woff2') format('woff2'),
       url('fonts/Century Gothic Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url('fonts/CenturyGothic-Bold.woff') format('woff'),
       url('fonts/CenturyGothic-Bold.ttf') format('truetype'),
       url('fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Century Gothic Regular';
  src: url('fonts/Century Gothic Regular.eot');
  src: url('fonts/Century Gothic Regular.woff2') format('woff2'),
       url('fonts/Century Gothic Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('fonts/CenturyGothic.woff') format('woff'),
       url('fonts/CenturyGothic.ttf') format('truetype'),
       url('fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Capture it';
    src: url('fonts/Capture_it-webfont.eot');
    src: url('fonts/Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Capture_it-webfont.woff2') format('woff2'),
         url('fonts/Capture_it-webfont.woff') format('woff'),
         url('fonts/Capture_it-webfont.ttf') format('truetype'),
         url('fonts/Capture_it-webfont.svg#capture_itregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Century Gothic"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1280px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grid */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "Socialico"}
/* sprites */
.bg-drinks {width: 112px; height: 111px;background: url('../images/common/offer_sprites.png') -10px -10px;}
.bg-specials {width: 112px; height: 111px;background: url('../images/common/offer_sprites.png') -142px -10px;}
.bg-dinner {width: 112px; height: 111px;background: url('../images/common/offer_sprites.png') -10px -141px;}
.bg-desserts {width: 112px; height: 111px;background: url('../images/common/offer_sprites.png') -142px -141px;}
.bg-lunch {width: 112px; height: 87px;background: url('../images/common/offer_sprites.png') -274px -10px;}
/*button*/
.btn {font-family:"Century Gothic";font-size: 13px; font-weight: 400; color: #fff; display: inline-block; padding: 18px 20px; background: #B20000; letter-spacing: 4px;border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Capture it";font-size: 57px;font-weight: 400;color:#B20000;}

/*header*/
#header {}
#header nav a#pull {display: none}
#header nav .navLeft {margin: 0;padding: 0; text-align: left}
#header nav .navRight {margin: 0;padding: 0; text-align: right}
#header nav ul li {display: inline-block;vertical-align: middle;padding: 5px 10px}
#header nav ul li a {padding: 10px 20px;font-family: "Century Gothic"; font-weight: 400; font-size: 15px; color: #555555}
#header nav ul li.active-menu a, #header nav ul li a:hover {background: #E23141;color:#fff;}
.hdTop {background: #000}
.hdTop p{margin: 0}
.hdTop p.label{font-family: "Lato"; font-size: 14px; color: #FF0000; font-weight: 400}
.hdTopLeft{text-align: left;margin-top: 20px}
.hdTopLeft p:nth-child(2){font-size: 42px; color: #fff; letter-spacing: 5px;}
.hdTopMid {margin-top: 20px}
.hdTopMid p{font-family:"Century Gothic"; font-size: 26px; font-weight: 700; color: #fff}
.hdTopRight{text-align: left;}
.hdTopRight p{font-family:"Century Gothic"; font-size: 22px; font-weight: 700; color: #fff}
/*banner*/
#banner {position: relative;background: url(../images/common/bg1.jpg)no-repeat center top; background-size: cover;padding: 159px 0 443px}
#banner .row{max-width: 1900px}
#banner .col-4{width: 31%}
.banLeft{padding-left: 30px}
#banner p.capture{font-family: "Capture it"; font-weight: 400; font-size: 33px; color: #fff; text-align: left;margin: 10px 0}
#banner p.abril{font-family: "Abril Fatface"; font-weight: 400; font-size: 67px; color: #fff; text-align: left;margin: 10px 0}
#banner .mainLogo{position: absolute;top:-88px; left: 50%; transform: translate(-50%); max-width: 699px; width: 37%}

/*content*/
#content {}

#offerSec{background: #B20000 url(../images/common/bg2.jpg)no-repeat center top; background-size  : cover; padding: 95px 0 65px}
#offerSec .row{max-width: 1200px}
#offerSec h1{color: #fff}
#offerSec p{font-size: 17px; color: #fff; max-width: 1099; margin: 10px auto 30px; letter-spacing: 1px; line-height: 28px; }
.offers{display: flex;justify-content: space-around;flex-wrap: wrap;align-items: baseline;margin-bottom: 30px}
.offers dl{width: 20%}
.offers dl dd{margin: 0;font-family: "Abril Fatface"; font-weight: 400; font-size: 28px; color: #fff}
#offerSec a.order{font-family: "Abril Fatface"; font-weight: 400; font-size: 22px; color: #fff; border:1px solid #fff; padding: 17px 58px; margin: 30px 0 0}

#menuSec{background: #fff url(../images/common/bg3.jpg)no-repeat center top; background-size: cover; padding: 75px 0 110px; position: relative;}
#menuSec .row{max-width: 1650px}
.menuTop{display: flex;justify-content: space-around;flex-wrap: wrap;}
.menuTop dl{max-width: 395px; width: 24%; max-height: 464px}
.menuTop dl dt{font-family: "Abril Fatface"; font-weight: 400; font-size: 26px; color: #fff; background: #B20000; padding: 10px 0}
.menuTop dl dd img{max-width: 395px;width: 100%;}
.menuTop dl dd{margin: 0}
.menuTop dl dd .bot{padding: 28px 0; background: #000; margin-top: -5px}
#menuSec .img1{position: absolute; bottom: -148px; left: 0; max-width: 392px; width: 19%}

#gallerySec{background: #fff; padding: 60px 0 80px}
#gallerySec .row{max-width: 1900px}
#gallerySec .col-4{width: 30.842105263157894%;margin-left: 19%}
#gallerySec .col-5{width: 49.473684210526315%;}
.gLeft {text-align: left;position: relative;}
.gLeft h1{font-size: 88px}
.gLeft h3{font-family: "Montserrat"; font-weight: bold;; font-size: 32px}
.gLeft h4{font-family: "Century Gothic"; font-weight: 400; font-size: 30px; color: #555555}
.gLeft p{max-width: 535px; font-family: "Century Gothic"; font-weight: 400; font-size: 16px; color: #525252; line-height: 30px}
.gLeft .btn{background: #E23141}
.gLeft .feature{max-width: 232px; width: 40%; position: absolute; top: -35px; right: 73px;}
.gLeft .spices{max-width: 390px; width: 51%; position: absolute; bottom: -82px  ; right: 0;}
.gRight{text-align: left;}
.lgImg{position: relative;}
.lgImg img{max-width: 938px; width: 100%;}
.lgImg .btngall{font-family: "Century Gothic";font-weight: bold;font-size: 15px;color: #fff;text-align: center;padding: 7% 5%;border: 1px solid #fff;outline: 10px solid #E23141; background: #E23141;position: absolute;top: 50%; left: 70%; transform: translate(-30%,-50%);}
.smImg{display: flex;justify-content: space-between;}
.smImg img{max-width: 184px; width: 20%; height: 10%}

#reviewSec{background: url(../images/common/bg4.jpg)no-repeat center top; background-size: cover; padding: 90px 0 65px}
#reviewSec h1{color: #fff}
.reviews{display: flex; justify-content: space-between;flex-wrap: wrap}
.reviews dl.col-4{width: 32%}
.reviews dl dt img{max-width: 407px; width: 100%}
.reviews dl dd{background: #fff; text-align: left;margin: -6px 0;max-width: 367px;padding: 20px;}
.reviews dl dd p{margin: 0}
.reviews dl dd p:nth-child(1){font-size: 18px; color: #B20000;}
.reviews dl dd p:nth-child(2){font-size: 16px; font-weight: 700;color: #545454;}
.reviews dl dd p:nth-child(3){font-size: 16px; font-weight: 400;color: #545454;line-height: 28px; margin-bottom: 40px}
#reviewSec .btn{margin-top: 20px}

#qContactSec{position: relative; background: url(../images/common/bg5.jpg)no-repeat center top; background-size: cover;padding: 60px 0 190px}
.quickform{background: url(../images/common/bgContact.png)no-repeat center top; background-size: 100% 100%;max-width: 800px; margin: 0 auto;padding: 50px 100px 70px; color: #fff}
.quickform h1{color: #fff}
.quickform .btn{background: #000; font-size: 18px; color: #fff}
.quickform form .col-4{width: 32.5%; height: 40px}
.quickform .formTop{display: flex; justify-content: space-between;margin-bottom: 10px;}
#qContactSec img.vegetables{position: absolute; bottom: 0; left: 0;max-width: 448px; width: 24%}
/*footer*/
#footer {background: #000;padding: 40px 0}
#footer .row{max-width: 1240px}
.footTop{display: flex; justify-content: space-between;border-bottom: 1px solid #555555; padding-bottom: 20px}
.footTopLeft, .footTopRight{text-align: left; color: #fff}
.footTopLeft p, .footTopRight p{font-family: "Lato"; font-size: 14px; font-weight: 400}
.footTopLeft p span, .footTopRight p span{display: block;font-family: "Century Gothic"; font-weight: 400;font-size: 15px}
.footTopLeft p:nth-child(1) span, .footTopLeft p:nth-child(2) span{font-weight: 700; font-size: 28px}
.footTopRight p:nth-child(1) span{font-size: 43px; letter-spacing: 5px}
.footTopRight p:nth-child(2){margin-top: 68px}
.footTopMid{position: relative;margin-top: -200px;}
.footTopMid img{max-width: 343px; width: 54%}
.footBot{color: #fff}
.footBot ul{display: inline-block;list-style: none;padding: 20px 0 0; margin: 0}
.footBot ul li{display: inline-block;margin: 0 20px}
.footBot ul li a{font-family: "Century Gothic"; font-size: 13px; color: #fff}
.footBot .copy, .footBot .silver{font-family: "Lato"; font-size: 13px; text-transform: uppercase;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0 180px}
.inner #content .row{max-width: 1300px}
/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


/** Responsive
-------------------------------------------------------*/

@media screen and (max-width: 1400px){
  .gLeft .feature{right: 0}
}
@media screen and (max-width: 1220px){
    .reviews{justify-content: space-around;}
}
@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}

  #gallerySec .col-4 {width: 48.842105%;margin-top: 92px;margin-left: 0}
  .footTopMid{margin-top: -170px}
}

@media screen and (max-width: 800px){
  [class*="col-"] {
        width: 100% !important;
        float: none!important;
    }
  .resCenter{text-align: center!important;}
  .resSection{padding: 20px 0!important;}
  .resImg{display: none!important}
  .resPos{top:50%!important;left: 50%!important; transform: translate(-50%, -50%)!important;}
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto;}
  	#header nav ul {position: absolute;top: 40px;width: 100%; display: none; height: auto;padding: 0;margin: 0;z-index: 9999}
  	#header nav ul li { width: 100%;position: relative;padding: 0;background: rgba(255,255,255,0.8)}
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: absolute;top: 0;z-index: 999;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
  .hdTop p.label {margin-top: 10px}
  .hdTopLeft{margin: 50px 0 0}
  .hdTopMid{margin: 0}

  .banLeft{padding-left: 0px}
  #banner .mainLogo{position: relative;top: 0; margin: 0 auto;left: 0; transform: unset;}

  #offerSec{padding: 20px 0 40px!important}
  .offers dl{width: 50%}

  .menuTop dl{width: 48%}

  #gallerySec .col-4{margin: 0}
  .smImg{justify-content: center;flex-wrap: wrap;}
  .smImg img{width: 33%; margin-left: 1px}
  .gLeft .feature{top:0}

  .reviews{display: block;margin: 0 auto;max-width: 407px;width: 100%;}

  .quickform{background: #B20000 ;padding: 20px 20px; border: 5px solid #fff; outline: 10px solid #B20000}
  .quickform .formTop{display: block; justify-content: none;margin-bottom: none;}
  .quickform .g-recaptcha{transform: scale(0.8);}

  .footTop{display: block;}
  .footTopMid{margin-top: 0}
  .footTopRight p:nth-child(2){margin-top: 0}

	.cta{background: #035B96  url("../images/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}
@media screen and (max-width: 600px){
  h1{font-size: 9.5vw}
  .hdTopMid p{font-size: 5vw}
  .hdTopRight p{font-size: 5vw}
  #banner p.capture {font-size: 5.5vw;text-shadow: 0 0 20px #000}
  #banner p.abril {font-size: 10vw;text-shadow: 0 0 20px #000}
  .menuTop dl dt{font-size: 5vw}
  .gLeft h1{font-size: 13vw}
  .gLeft h3{font-size: 9vw}
  .gLeft h4{font-size: 7vw}
}
